<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>dev.sindenrs.sindenrs</string>
<key>CFBundleName</key><string>Sindenrs</string>
<key>CFBundleDisplayName</key><string>Sindenrs</string>
<key>CFBundleExecutable</key><string>sindenrs</string>
<key>CFBundleIconFile</key><string>AppIcon</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>@VERSION@</string>
<key>CFBundleVersion</key><string>@VERSION@</string>
<key>LSMinimumSystemVersion</key><string>13.0</string>
<key>LSUIElement</key><true/>
<key>NSCameraUsageDescription</key><string>Sindenrs reads the Sinden Lightgun's camera to see the border around your screen and work out where the gun is aiming.</string>
</dict></plist>
